body{
    min-height: 100vh;
  display: flex;
  flex-direction: column;
    

}

.lucida{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}